---
import Header from "$/components/Header.astro";
import LeftSidebar from "$/components/LeftSidebar.astro";
import Main from "$/layouts/Main.astro";
---

<Main classNames="bg-blue-400">
  <Header />
  <section class="mx-auto max-w-7xl flex text-white gap-8 py-6">
    <aside
      class="w-64 flex-shrink-0 h-[calc(100vh-80px)] sticky top-24 overflow-y-scroll scrollbar-thin scrollbar-thumb-rounded-md scrollbar-thumb-zinc-400/40 z-[1]"
    >
      <LeftSidebar />
    </aside>
    <div class="flex-grow-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda
      exercitationem obcaecati reprehenderit, voluptatum tenetur distinctio
      doloremque pariatur molestias minus ab repudiandae repellendus commodi
      necessitatibus, in alias reiciendis fugiat excepturi sunt doloribus
      laborum! Amet, iusto cumque. Possimus assumenda delectus voluptates nihil
      maiores alias voluptatibus repellendus. Nisi provident nihil libero?
      Reiciendis tempore veniam neque iure enim illum ullam quia nobis.
      Laudantium, ratione, repellat labore tempore qui dicta iusto ut voluptatem
      sequi impedit quia sint dolorem animi maxime voluptatibus hic quae ex
      repellendus a cupiditate recusandae? Corporis quam quas sequi facere
      nihil. Incidunt minus fugit optio excepturi placeat dignissimos illum
      accusantium error? Aliquid et explicabo veniam illum distinctio dicta
      inventore facere corrupti voluptates vero officia dolorum fuga modi in hic
      esse tenetur illo necessitatibus a sit, dolorem aspernatur? Perspiciatis
      aperiam soluta fuga fugiat quasi vel exercitationem voluptatum, expedita
      possimus rerum, culpa architecto optio nesciunt quaerat. Ab quos minima
      fugiat earum molestias expedita at sunt itaque, ducimus vero nam aliquam
      adipisci quo rerum culpa provident asperiores doloremque nobis sed, iure
      suscipit fugit consequatur reprehenderit. Commodi facilis magni esse!
      Harum, vitae maiores tenetur voluptates sit inventore quam sint,
      reiciendis veritatis, nesciunt ut quas placeat ipsam ad alias nemo sed
      repudiandae est minus totam. Fuga neque quis eum libero alias corporis eos
      beatae, autem totam, voluptatum quisquam ullam magni ratione. Animi dolore
      aut, atque dicta, repudiandae nemo illo provident soluta fugit cumque
      sequi incidunt, itaque est molestiae quod officiis aliquam nihil
      assumenda! Necessitatibus hic quasi, saepe ipsa sapiente aliquid mollitia
      nostrum nisi. Corporis dolores eaque impedit mollitia quisquam fuga, autem
      alias porro atque doloremque vel iure numquam nesciunt asperiores
      voluptate molestiae fugit suscipit consectetur nostrum beatae. Tempore
      eius nihil veniam ad? Quas repellat libero ad, autem praesentium,
      excepturi dolor atque pariatur laboriosam aliquam animi! Ipsa quis
      consequatur vel esse ducimus fugit iusto, molestias rem ullam repellendus
      minima. Reprehenderit distinctio obcaecati quibusdam magnam ducimus fugiat
      debitis quia cumque dolorem qui, odio ut expedita illo deleniti, pariatur
      esse veniam ratione laudantium soluta deserunt blanditiis aperiam
      asperiores, placeat doloribus. Fugiat ex facilis harum totam corporis
      quisquam, eaque ullam minima officia? Suscipit nisi a asperiores inventore
      autem distinctio beatae quas dolorum facilis soluta odio, excepturi
      mollitia. Suscipit placeat ut molestias. Ipsum exercitationem mollitia
      sunt ea. Laudantium tenetur quis facilis reprehenderit tempore
      exercitationem atque sunt aperiam quasi? Adipisci omnis cupiditate,
      voluptatem inventore tenetur excepturi pariatur minus porro repellat
      consectetur. Esse reiciendis reprehenderit illo provident molestias iure a
      culpa similique, in itaque tempora illum totam ab veniam explicabo! Unde
      vel beatae facere explicabo quo quibusdam dolorem voluptates quas qui
      similique quos eveniet, assumenda in pariatur aliquid minima nemo commodi
      aperiam! Dicta tempora vitae libero, soluta sapiente eius voluptatum
      doloribus facilis itaque, nesciunt voluptatem porro tenetur repellendus!
      Ipsum sed perspiciatis incidunt, labore ad architecto ipsa debitis culpa
      minima distinctio sunt amet provident quis enim? Cum earum laboriosam
      impedit ipsa eligendi omnis nam unde nemo similique sequi facere quisquam
      cupiditate architecto praesentium autem nisi deserunt quis, voluptatibus
      quia aliquid vero. Magni temporibus quisquam minima voluptates, corrupti
      at fugit saepe aperiam deserunt sed quasi harum labore consequatur tempora
      nostrum dignissimos eos et reiciendis est dolores quo totam eveniet.
      Consequuntur, repudiandae! Quaerat magnam blanditiis voluptatum enim odio
      suscipit dolores distinctio. A dolores ut ea quis enim hic laborum
      perspiciatis nostrum, nisi natus et iure fuga voluptate sunt numquam
      nobis, culpa reprehenderit dolorem id voluptatum alias? Voluptatum
      recusandae, maxime itaque fugit ipsum expedita commodi laborum quam
      temporibus nesciunt distinctio velit dignissimos voluptas eligendi alias
      illo animi aut est. Tenetur, odio magni? In voluptatem totam quod ut enim
      voluptate maxime, sint assumenda voluptas nostrum nobis sed sapiente
      doloribus. Beatae quis adipisci iure facilis doloribus aliquam ab saepe
      officiis assumenda, illo sequi iusto aliquid commodi vel. Ea quibusdam
      inventore totam dolorum soluta nobis necessitatibus similique, nihil nam,
      magni qui facere fugit eum eligendi. Error eaque velit cum provident
      facilis aliquam nam asperiores alias sed voluptas unde consectetur ratione
      iusto corporis, reiciendis laudantium ea quod molestias vero optio ducimus
      ipsa. Dolore provident architecto inventore laborum delectus, esse,
      temporibus perspiciatis saepe libero voluptate dolores tempora. Alias,
      exercitationem similique a quis voluptatum at autem cupiditate cumque
      nihil, id impedit nobis? A amet provident repudiandae sapiente esse
      officia iure totam mollitia officiis, repellendus pariatur. Explicabo
      quibusdam magnam voluptate quam sed eius sit! Officia sequi asperiores
      reiciendis sed nam dolorum repellat temporibus aut consequuntur illum
      facere dolorem dolor qui quaerat esse doloremque autem pariatur, molestias
      suscipit necessitatibus ipsa, fuga facilis nostrum similique! Dolorum,
      repellendus nulla! Officia necessitatibus aut nisi, perferendis animi
      quibusdam incidunt ipsam, in amet explicabo commodi quasi voluptate,
      tenetur cum vel laborum dicta sint quod! Iusto nobis doloribus odit? Odit
      maxime deserunt cupiditate. Qui ab, laborum necessitatibus perspiciatis
      nobis aliquid ratione incidunt dolorum repudiandae nesciunt saepe delectus
      harum. Sequi a, nesciunt numquam facilis quam corporis, eos vel ratione
      amet cumque officia officiis? Officia in cupiditate, veniam alias
      necessitatibus accusamus quasi modi eveniet, ut facilis quis. Ut error
      culpa vel porro, officiis velit hic dolor pariatur dicta quisquam
      sapiente! Corporis aut temporibus explicabo. Facilis odio sed maiores
      adipisci facere ad quam, quas quod, eius et nihil, earum possimus enim
      illo aut expedita at itaque! Aperiam porro omnis possimus eos voluptatibus
      eligendi inventore non, iste quibusdam cum deserunt cumque officiis sint
      excepturi, magni, tempore ut hic nesciunt incidunt. Beatae doloribus
      accusamus placeat saepe sequi incidunt, autem numquam quo ipsum, et dolore
      tempore nulla officiis tempora vel velit ipsam perspiciatis perferendis
      dicta amet deleniti enim? Consequatur impedit labore voluptatibus saepe
      consectetur! Asperiores sit, numquam eveniet voluptatibus cum, magni, sed
      aliquid nostrum autem dolorum molestiae officia? Adipisci deleniti fugiat
      iste neque aspernatur libero ut, dolore nulla repudiandae. Hic fugit quae
      aspernatur eum cum in accusantium modi? Dolorem quia possimus fuga omnis
      quod voluptate laudantium ducimus id libero culpa repudiandae sapiente,
      dolor vero nisi, saepe incidunt vitae hic, earum soluta odio dolore.
      Aperiam autem quam dignissimos quae laborum placeat animi ducimus iusto
      voluptas, ea sint possimus? Pariatur, doloribus quidem accusamus eius
      facilis ut quos quia quas sit quisquam eos facere commodi! Necessitatibus
      quod sit incidunt reiciendis quaerat. Maiores veniam architecto vel
      sapiente culpa accusantium, sit ratione!
    </div>
  </section>
</Main>
