---
interface Item {
  link?: string;
  text: string;
  children: Array<Item>;
}

const { item } = Astro.props as { item: Item };
---

{
  () => {
    if (item.link) {
      return <li>{item.text}</li>;
    }
  }
}
